[2014-06-19 10:34] adriaandotcom opened #1 "Set environment variable a Heroku config variable"
It would be nice to load the ember build environment from the Heroku config variables. So you can run staging, production and development.

[code]

[2014-06-26 14:19] AGresvig opened #2 "Instructions on how to build for development"
I successfully deployed to Heroku using this buildpack, but when I try to run my app I get JS errors int he console and nothing shows up, ex.:

[code]

Would be great with some instructions on how to build non-minified on Heroku so I have a chance to debug my app?

thanks!!

[2014-06-26 20:14] #2 closed, assigned to nobody

[2014-06-30 16:01] #1 closed, assigned to nobody

[2014-07-01 17:30] stefanpenner opened #5 "consider being an ember-cli-addon"
recently we have expanded what an addon is and now support cases such as additional commands.

see: https://github.com/poetic/ember-cli-cordova/ as an example

additional ideas:
- [ ] pickup proxy rules and build the nginx conf accordingly (from some project config, maybe rc file)
- [ ] npm install ember-cli-heroku

usage:

[code]

[2014-07-01 17:31] stefanpenner opened #6 "add support for a proxy by default"
ideally extracted from the current project
cc @rjackson

[2014-07-24 16:52] #5 closed, assigned to nobody

[2014-07-24 16:54] tonycoco opened #8 "Cache node/npm and bower deps"
The Node.js buildpack does something similar. We should incorporate that as well to cut down build times.

[2014-07-25 05:05] #6 closed, assigned to nobody

[2014-08-11 07:16] dbinetti opened #10 "force HTTPS option"
Not really an issue, but for us nginx rookies having a configuration block that we could uncomment if we wanted to force https would be _very_ helpful.  ;-)

[2014-08-13 15:28] simonprev opened #11 "Proxy between 2 Heroku apps is not working"
Hi,

I’ve been trying to proxy an Ember app hosted on an Heroku instance through another Heroku instance. MY `API_URL` is `http://example-api.herokuapp.com` and the `API_PREFIX_PATH` is `/app/`.

The ember app url is: `http://example-webapp.herokuapp.com`.
The API app url is: `http://example-api.herokuapp.com`.

So here is my problem:

When I call `http://example-webapp.herokuapp.com/projects`, th

[2014-08-14 18:40] reidsteven75 opened #14 "Deployment to Heroku - fails on build"
Hello,

I'm trying to deploy my Ember Cli application to Heroku using the Ember Cli Buildpack - https://github.com/tonycoco/heroku-buildpack-ember-cli.git.

The build fails when bower tries to install a certain type of dependancy (see below - it fails on the antiscroll).

[code]

This is a specific commit SHA of antiscroll which is stated in my bower.json as...

[code]

I'm guessing the build scri

[2014-08-17 09:54] szimek opened #15 "Heroku build fails when trying to load JS file via app.import"
I'm loading a JS file as described in http://www.ember-cli.com/#standard-non-amd-asset, by adding the following line to `Brocfile.js`:

[code]

Creating development and production builds works fine locally, but when I push it to Heroku I'm getting the following error:

[code]

[2014-08-17 10:37] szimek opened #16 "How to setup Heroku API_URL to access api-stubs generated by Ember CLI?"
I generated API stubs, but after deploying to Heroku when I try to access them, they all return contents of `index.html` file. In `nginx.conf.erb` file there's something regarding `API_URL` env variable (https://github.com/tonycoco/heroku-buildpack-ember-cli/blob/master/config/nginx.conf.erb#L53), but I'm not sure what value should I use. I just want to access my page via `https://my-app.herokuapp

[2014-08-17 17:14] #16 closed, assigned to nobody

[2014-08-25 19:19] #10 closed, assigned to nobody

[2014-08-25 21:39] #14 closed, assigned to nobody

[2014-08-27 11:23] #15 closed, assigned to nobody

[2014-08-27 21:51] tonycoco opened #17 "Integrate Prerender.io"
See:

https://github.com/zipfworks/ember-prerender
https://prerender.io

Would be nice to have out of the box support for this too.

[2014-08-27 21:55] #11 closed, assigned to nobody

[2014-08-29 10:09] k9ordon opened #19 "routes ending with "js""
I am having troubles with ember routes ending with a "js" string. like "/topic/emberjs"

looks like its getting parsed as static file by [nginx.conf](https://github.com/tonycoco/heroku-buildpack-ember-cli/blob/master/config/nginx.conf.erb#L55)
anyway to do this explicit on "_.js" rather than "_js"

[2014-09-02 15:33] #19 closed, assigned to nobody

[2014-09-02 20:32] tonycoco opened #20 "Add a before and after install hook script"
Scripts to do stuff like Ruby and Compass install, compile, extra dependencies, etc.

[2014-09-08 21:21] catmando opened #21 "Path or pattern "vendor/loader/loader.js" did not match any files"
I get the following error when pushing to heroku:

[code]

Everything runs fine on my machine...

versions are as follows

$ ember -v
version: 0.0.44
node: 0.10.26
npm: 1.4.26

but saw the error with older versions as well:

ember -v
version: 0.0.40-master-2ebd8e312c
node: 0.10.26
npm: 1.4.23

[2014-09-09 00:56] #21 closed, assigned to nobody

[2014-09-10 19:32] lastobelus opened #23 "How would I go about using compass?"
currently, deploy fails:

[code]

[2014-09-13 16:09] billdami opened #24 "Example of deploying an API server in the same heroku app"
I am admittedly still pretty new to the heroku environment, but would you be able to provide an example of how to use this buildpack to deploy a server (for example an express.js server) alongside the ember application which will handle all the xhr/api requests from the ember app, while nginx still handles the serving of the static assets? Ideally, I would like to keep everything contained within

[2014-09-14 05:45] jmonster opened #25 "BuildingBuilding.Build failed"
I deployed a few days ago without issues, but today the push is failing; see below. I am able to build without problems on my local machine.

---
### local

[code]
### heroku

[code]

[2014-09-14 06:28] #25 closed, assigned to nobody

[2014-09-14 21:34] billdami opened #26 "Add application/json mime type"
Ajax requests for static .json files are currently being transmitted with a content-type of `application/octet-stream`, instead of `application/json`, causing the response to be decoded as a string. In my case, this request is not intended for the api server, its i18n translation data, which I have stored as a static .json file in /public/assets. I'm assuming this could be fixed by adding the nece

[2014-09-26 02:21] #24 closed, assigned to nobody

[2014-10-03 19:07] #8 closed, assigned to nobody

[2014-10-06 18:28] andrewfan opened #30 "bower not found"
hello
I'm trying to update my heroku app but i'm getting an error

[code]

i think it happened after you latest commit https://github.com/tonycoco/heroku-buildpack-ember-cli/commit/0dab4ced1d300311a6480acf60c8f48fa8613214

i'm using ember-cli v0.0.45 and my packages are:

[code]

[2014-10-07 07:02] #30 closed, assigned to nobody

[2014-10-15 00:59] beeekind opened #32 "Error when pushing latest version of ember-cli"
I've recently updated my ember-cli project and when I tried to push it to Heroku received this error. Any ideas? Thanks.

"-----> Pruning cached bower dependencies not specified in bower.json
-----> Caching node_modules directory for future builds
-----> Cleaning up node-gyp and npm artifacts
bower ember-cli-shims#0.0.2   mismatch Version declared in the json (0.0.1) is different than the resolved

[2014-10-23 19:53] robpark opened #34 "broken route to API"
I get "Error while processing route: animals.index Cannot read property 'find' of undefined TypeError: Cannot read property 'find' of undefined" after my deploy. (Where "animals" is the route and api endpoint.)

I tried setting both API config settings and I've cleared the cache.

The REST API (also on Heroku) is functioning, because I can hit it just fine and it also works fine from the Ember rou

[2014-10-28 18:52] jasalguero opened #35 "Is there support for Ember-Cli http-mock?"
I'm trying to deploy the development version of an ember-cli that uses http-mock but the mocked api is not responding. Is it supported somehow?

[2014-11-03 17:15] #34 closed, assigned to nobody

[2014-11-04 06:28] jmonster opened #36 "deploy fails when using sass"
I'm trying to push out an app that is barely more than static html -- I've installed `broccoli-sass` into my project.

There seems to be a missing dependency in the build-pack to let this compile properly?

[code]

[2014-11-05 16:15] #36 closed, assigned to nobody

[2014-11-07 09:01] enriclluelles opened #37 "Thanks!"
Hey there!

This is not exactly an issue, it's just my way of sending a huge THANK YOU, because this buildpack works GREAT and it's helped me big time setting up a big project. I look forward to using it and contributing any way I can

So yeah, thanks again and if you ever pass by Barcelona, the beers are on me

[2014-11-17 06:01] #37 closed, assigned to nobody

[2014-11-17 06:02] #35 closed, assigned to nobody

[2014-11-19 23:35] alwaysautumn opened #39 "Heroku error: Push Rejected, no Cedar-supported app detected"
Hey,

I followed the instructions for deploying an ember-cli app to Heroku from the ember-cli main site, and had my push rejected. Any help on this would be appreciated. Thanks! :D

[code]

[2014-11-20 05:45] #39 closed, assigned to nobody

[2014-12-01 23:28] drewcovi opened #40 "How To: Leverage Server Directory"
Would love to leverage the server directory and some proxy / middleware stuff created in node.   Is this not possible with this buildpack?

[2014-12-04 00:39] #26 closed, assigned to nobody

[2014-12-11 03:08] #17 closed, assigned to nobody

[2014-12-11 20:49] conrad-vanl opened #42 "brettwhitelaw.com / NGINX tar not resolving"
Tried to update an app today, noticed the nginx tar that this repo is pointing to isn't resolving:
http://www.brettwhitelaw.com/pkg/nginx-1.6.0.tar.gz

https://github.com/tonycoco/heroku-buildpack-ember-cli/blob/master/bin/compile#L63

Which is resulting in the following error when pushing to Heroku:

[code]

[2014-12-11 20:54] #32 closed, assigned to nobody

[2014-12-12 01:09] samusgray opened #44 "npm ERR! fetch failed"
Hi there,

Thanks for making this so awesome. Until I updated to HTMLBars, this built tool acted as a 'set it and forget it' utility that worked really well.

After upgrading to HTMLBars, I get the following when I deploy to Heroku:

[code]

Here is my bower.config

[code]

Do you think this is something going wrong in the build process? It seems possible that the `components/ember-data#canary` in

[2014-12-12 01:47] #44 closed, assigned to nobody

[2014-12-12 03:13] #42 closed, assigned to nobody

[2014-12-12 03:33] JoshSmith opened #45 "Prerender's proxy_pass rewrites to http only"
The nginx.conf is set up so that it rewrites only to http URLs, which will yield a 301 for those of us using SSL.

[2014-12-23 14:39] #40 closed, assigned to nobody

[2015-01-13 15:59] drewcovi opened #49 "Allow API Proxy to Consume/Return any URL"
It would be great if we could make a request to a proxy endpoint (as it is currently) but pass a full request in the querystring.  This would leave our options fairly open-ended.  In node, I'm currently doing this by getting

[code]

[2015-01-13 17:11] tonycoco commented on #49
@drewcovi got any idea how to do this in Nginx? Also, what are you doing this for and how is the request serialized in the query string?

[2015-01-13 21:44] drewcovi commented on #49
Presently no additional work. Just passing the entire url and request querystring AS the querystring for the endpoint.

[2015-01-14 18:00] amedr opened #50 "Issue deploying with ember-cli 0.1.7"
Not sure if I'm missing something, but I just tried to deploy an ember-cli 0.1.7 app to Heroku in production  mode, the deployment succeeds but the app keeps crashing, until now I have had to manually:

* Copy my `devDependencies` into `dependencies` in `package.json`
* Add bower package to `dependencies` in `package.json` because I noticed it wasn't being installed.

Yet the logs say that I need

[2015-01-15 01:54] seanrucker commented on #23
How close is this?

[2015-01-15 11:25] koriroys commented on #23
@seanrucker you can just follow the instructions here for now:

https://github.com/koriroys/heroku-buildpack-ember-cli/commit/0837e19ca81c83bd2d5892572989d7c9cbf1f436

[2015-01-15 14:05] gnapse commented on #39
I'm still getting this error:

[code]

As you can see in the last command, the buildpack url is properly set. Perhaps this has something to do with the ember/ember-cli version I'm using? I'm using ember-cli 0.1.6, ember 1.9.1, nodejs 0.10.35, npm 2.1.8

[2015-01-15 16:00] tonycoco commented on #39
Those should be fine. Could you check the Heroku stack you're on? Only Cedar is supported. Check https://devcenter.heroku.com/articles/cedar-14-migration#upgrading-the-production-app-to-cedar-14 for details on how to upgrade the Heroku stack.

[2015-01-15 16:06] tonycoco commented on #50
I'll take a look in a bit

[2015-01-15 17:12] gnapse commented on #39
I ended up deploying the app without the need of this buildpack, using [these instructions](http://blog.bguiz.com/2014/07/14/deploying-an-ember-cli-app-to-heroku/).

Could you point out the differences and advantages of using this buildpack? Also, what about the problem I posted above?

[2015-01-15 20:06] tonycoco commented on #39
@gnapse the difference is that those instructions spin up a Node web server and run the application that way. This buildpack builds a production dist of your application and serves it with Nginx as a static application with the correct Nginx rewrites and configuration.

[2015-01-16 17:08] seanrucker commented on #23
Thanks!

[2015-01-16 17:14] tonycoco commented on #20
Fixed with https://github.com/tonycoco/heroku-buildpack-ember-cli/pull/46

[2015-01-16 17:14] #20 closed

[2015-01-16 17:14] tonycoco commented on #23
Fixed with https://github.com/tonycoco/heroku-buildpack-ember-cli/pull/46

[2015-01-16 17:14] #23 closed

[2015-01-16 17:24] tonycoco commented on #50
@amedr Could you provide a repo that this does not work with? I can't reproduce it. Just ran my test app on cedar-14 with Ember CLI v0.1.7 (latest) and it worked fine.

[2015-01-16 17:26] tonycoco commented on #49
Not sure what the request is here if there's no additional work. What's the issue exactly?

[2015-01-16 17:30] tonycoco commented on #45
Looking into this... have you turned on SSL with the `FORCE_HTTPS` Heroku var?

[2015-01-16 18:08] drewcovi commented on #49
Oh I meant that how I'm currently doing it with node, I'm not doing any serialization.

[2015-01-16 23:14] seanrucker opened #51 "Handlebars 2.0.0 error"
After upgrading to Ember CLI v0.1.7, Ember 1.9.1 and Handlebars 2.0.0 I can no longer deploy. Looks related to Handlebars?

[code]

[2015-01-17 22:30] tonycoco commented on #51
Try to first run `ember build` locally. You seem to have a bower dependency that isn't saved in the `bower.json`.

[2015-01-19 16:49] amedr commented on #50
@tonycoco just added you to my private repo. Could you provide an email for giving you access to Heroku as well?

[2015-01-22 04:17] anandhs29 opened #52 "Deploying to Heroku results in an application size of 41MB"
I am not sure what I am doing incorrectly, so I thought I'd ask here. Running a build --environment=production, results in a dist size of 1.8MB. However, when I deploy to Ember, the final statement says: -----> Compressing... done, 41.3MB

Any idea why?

[2015-01-22 04:30] tonycoco commented on #52
That's the size of the entire Heroku VM, not your application.

[2015-01-22 04:30] #52 closed

[2015-01-22 04:31] tonycoco commented on #50
Try to remove the temp bower and npm directories and save your dependency resolutions locally.

[2015-01-22 04:31] #50 closed

[2015-01-26 19:32] tonycoco commented on #51
I don't think this problem exists. I've saved my dev dependencies and deployed successfully on multiple projects with Handlebars 2.0

[2015-01-26 19:32] #51 closed

[2015-01-27 19:34] thomchop opened #54 "Make config variables available in environment.js?"
My app depends on environment variables with I load from a local .env file with process.env.VAR_NAME in config/environment.js. I expected heroku config vars to be stores in a .env file, but that doesn't seem to be the case. Is there another way I can load config vars with ember-cli-dotenv? Thanks for the help.

[2015-01-27 19:42] tonycoco commented on #54
Use Heroku's ENV vars...

https://devcenter.heroku.com/articles/config-vars

[2015-01-27 19:42] #54 closed

[2015-01-28 01:01] thomchop commented on #54
Thanks, but that is what I tried. I was wondering why they weren't being picked up by ember-cli-dotenv with `process.env`. Is this issue unrelated to the buildpack?

[2015-01-28 01:52] thomchop commented on #54
Nevermind. It's working now. I needed to trigger a build after setting the config vars.

[2015-01-28 06:18] tonycoco commented on #54
No problem :+1:

[2015-02-12 01:11] gcollazo opened #57 "Build fails with version 0.3.0 of ember-cli-app-version"
I was trying to deploy the latest version of emberaddons.com and the build was failing on heroku. I noticed the issue was related to v0.3.0 of ember-cli-app-version. After upgrading to v0.3.1 everything worked fine.

Thought that might be important to document since ember-cli comes with v0.3.0 of ember-cli-app-version.

[2015-02-13 19:48] tonycoco commented on #57
I'll look into it. Thanks!

[2015-02-13 19:48] gcollazo commented on #57
Closing, it has been fixed.

[2015-02-13 19:48] #57 closed

[2015-02-13 20:53] tonycoco commented on #57
Cool, thanks.

[2015-02-14 16:52] john-kurkowski commented on #49
Be careful baking an [open redirect](https://www.owasp.org/index.php/Open_redirect) into this project.

[2015-02-17 16:34] jordpo commented on #45
we were having the same issue using prerender and a https redirect. it would be redirected back to the http page. a patch that we are using is replacing $scheme with https when FORCE_HTTPS is present and true on line 91 of the config file.

[code]

[2015-02-17 17:15] JoshSmith commented on #45
This looks like a good solution @jordpo. @tonycoco how do you feel about implementing this directly?

[2015-02-18 02:25] tonycoco commented on #45
Should work. PR?

[2015-02-18 06:02] JoshSmith commented on #45
@jordpo would you mind creating a PR for this?

[2015-02-18 13:18] jordpo commented on #45
Will do. Here it is https://github.com/tonycoco/heroku-buildpack-ember-cli/pull/59

[2015-02-19 17:19] tonycoco commented on #45
Closed with #59

[2015-02-19 17:19] #45 closed

[2015-02-19 21:38] dj-hedgehog opened #60 "double api-prefix necessary with dokku"
I just deployed an Ember-CLI app with a Sails.js backend for the first time.
The Sails-backend serves via `http://<IP-Adress>:34523` my API-prefix is `api/v1` .
So I set `API_URL=http://<IP-Adress>:12345` and `API_PREFIX=/api/v1/` .

The Ember-Cli application would be available via `http://<IP-Adress>:12346`. It's making API requests to `http://<IP-Adress>:12346/api/v1/...` but the nginx of this b

[2015-02-20 17:56] dj-hedgehog opened #61 "Can't start container on dokku-alt but works on dokku"
I'm using this buildpack to deploy my container to dokku which works as it's supposed to.
I've got a second host running dokku-alt and deployed my Ember-CLI application there as well.
Upon start the only log-message I get via `dokku logs <container` is:
`setuidgid: usage: setuidgid account child`

Do you know what might be the problem or how I can get more information regarding this problem?

[2015-02-21 23:30] kavinderd opened #62 "Proxy url not being used"
I have setup my ember heroku app with an `API_URL` and `API_PROXY_PATH` as demonstrated in the readme, but my backend api is not receiving any request.

Is there any configuration I need to do aside from setting the heroku configs?

[2015-02-23 21:30] tonycoco commented on #61
I'm not familiar with the Dokku platform. I'll do some research tonight.

[2015-02-24 09:57] dj-hedgehog commented on #61
that would be cool. It's basically a self-hosted mini-heroku using the same Procfiles etc.

[2015-02-24 10:00] dj-hedgehog opened #63 "Multiple Ember-applications with only one Nginx?"
I'd like to seperate my Ember-application into two applications. One for the admin-frontend and another one for the website itself.
Using your buildpack twice would be no problem but the additional Nginx-instance seems to be a bit of wasted resources.

Is it possible to use multiple Ember-applications with just one Nginx?

[2015-02-24 16:31] tonycoco commented on #63
Short answer yes. But, this is a Heroku build pack and the use-case for it should be a single application. Closing in favor of multiple Heroku applications that can scale and live independently.

[2015-02-24 16:31] #63 closed

[2015-02-24 16:33] tonycoco commented on #60
I'll take a look, but I don't think I can support Dokku without having any experience with it.

[2015-02-24 16:34] tonycoco commented on #62
May be a duplicate of #60... looking into this.

[2015-02-24 16:35] tonycoco commented on #60
Referencing #62 as well

[2015-02-24 16:36] tonycoco commented on #49
@drewcovi any movement on this as a PR?

[2015-02-27 07:47] shripathee opened #64 "Unable to use http-mock"
We deploy our app to Heroku in the development/testing phase to share with our team. It would be great if http-mock works.

[2015-02-28 13:33] dj-hedgehog commented on #60
By the way, this issue is gone when using VHOSTS.

[2015-03-01 00:35] johnmosesman opened #66 "Proxy between two Heroku apps not receiving API_PREFIX_PATH"
Hi,

I have two Heroku apps (Ember CLI & Rails), and it appears from the logs that the Ember app is sending the correct request `/api/categories`, but the Rails Heroku app is receiving the request without the `/api/` prefix.

Here are the Ember logs (you can see the `GET /api/categories` on the second to last line):

[code]

And the Rails logs:

[code]

This is my config for the Ember app:
[code]

[2015-03-02 20:17] tonycoco commented on #64
This is by design. I don't want the build pack to run any node server. It basically builds your Ember app and hosts that build statically via a simple Nginx setup.

If you want, there are "Build Hooks" as defined in the README that could be used to launch another process to serve your HTTP mocks.

But, the point is to have this work as a statically compiled site and not a server.

[2015-03-02 20:19] tonycoco commented on #66
This is by design. But, we should have a flag to push that path through to your API as well. Basically the proxy-pass chops off the `API_PREFIX_PATH` when it goes to the actual API. But, yeah, we should fix this so it works.

[2015-03-03 23:42] #64 closed

[2015-03-03 23:50] tonycoco opened #67 "Create an ember-deploy index adapter"
See: https://github.com/LevelbossMike/ember-deploy-redis

[2015-03-06 18:52] johnmosesman commented on #66
Hey Tony,

I'm not sure what you mean. If the proxy removes the prefix path, where does the prefix path get used?

[2015-03-07 09:46] b-e-r-t-o opened #68 "Heroku deployment fails"
Here is a brief overview of the error I'm getting: http://stackoverflow.com/questions/28913452/ember-cli-heroku-build-fails

remote: -----> Pruning cached bower dependencies not specified in bower.json

remote: -----> Caching node_modules directory for future builds

remote: -----> Cleaning up node-gyp and npm artifacts

remote: bower loader.js#1.0.1 mismatch Version declared in the json (0.0.0) i

[2015-03-10 01:50] JoshSmith opened #69 "Redirect non-www (naked domain) to www"
I didn't want to go messing with nginx settings myself, so wondered if there's a way for us to redirect naked domains like `https://example.com` to `https://www.example.com`, perhaps with a flag of some sort.

[2015-03-11 03:03] tonycoco commented on #69
Fixed with fd9068c678b630907eae7514682cb1f22a7f4ce0

[2015-03-11 03:03] #69 closed

[2015-03-11 03:35] JoshSmith commented on #69
Awesome, you're a champ @tonycoco. :facepunch:

[2015-03-11 03:36] tonycoco commented on #68
Try running: `ember build` locally to resolve version dependencies.

[2015-03-11 03:36] #68 closed

[2015-03-11 03:41] tonycoco commented on #66
The `API_PREFIX_PATH` is probably a bad name... looking at refactoring that.

Basically, it is the path that is `proxy_pass`'ed to the `API_URL`, so, requests from the Ember app to `http://<YOUR_HEROKU_EMBER_CLI_APP_HOSTNAME>/api/v1/ping` become `http://<API_URL>/v1/ping`...

Now, you could set `API_URL` to anything you want, if you wish to keep the `/api` prefix, for instance, setting `API_URL` t

[2015-03-11 03:41] #66 closed

[2015-03-11 03:43] tonycoco commented on #69
You're the one who keeps giving me ideas! :+1:

[2015-03-11 03:44] tonycoco commented on #62
One thing you could do is tail the logs for each Heroku server and make sure the requests are routing the way you are expecting them to. You should take a look at this issue as well, #66

[2015-03-11 03:44] tonycoco commented on #66
Reference: #62

[2015-03-11 03:45] tonycoco commented on #61
Going to close this until I get some time to support Dokku.

[2015-03-11 03:45] #61 closed

[2015-03-11 03:45] tonycoco commented on #60
Referencing #66 too

[2015-03-11 03:45] #60 closed

[2015-03-11 11:58] dj-hedgehog commented on #61
By the way, I'm successfully using the buildpack with dokku.
For dokku-alt issue happens with other buildpacks too and is tracked here:
https://github.com/dokku-alt/dokku-alt/issues/200

[2015-03-11 17:19] tonycoco commented on #49
I'm closing this as I have no idea what it is I'm supposed to implement :) If someone wants to create a PR, that's cool by me, but this is not a feature I've seen the need for.

[2015-03-11 17:19] #49 closed

[2015-03-11 20:43] zzarcon commented on #36
Hi guys, i tried the proposal of @jmonster about using cedar-14 but I still get the error. Can anyone help me? thanks

[2015-03-12 15:26] tonycoco commented on #36
Can you paste the stack trace?

[2015-03-12 16:31] bartocc opened #70 "Make deploys faster"
I was just wondering if deploys could be faster.
Right now, it approximately takes 6 minutes to deploy a bare ember-cli app to heroku.

[2015-03-12 18:05] tonycoco commented on #70
The app deploy time should get significantly faster after the first deploy. It caches the Bower, NPM and Nginx builds. I'll run some performance tests myself to confirm.

[2015-03-12 18:14] tonycoco commented on #70
Ran some tests:

    $ time git push heroku master

    ... Logging ...

    remote: Verifying deploy... done.
    To https://git.heroku.com/blllllaahhhhhh123.git
    2144362..caaa4d4  master -> master

    real     1m55.131s
    user     0m0.083s
    sys      0m0.161s

Looks like a second build only takes ~2 minutes. That's almost as fast as we can get. Since, the `ember build` itself takes close

[2015-03-13 13:30] bartocc commented on #70
@tonycoco

the second build logs this

remote: -----> Downloading and installing node
remote: -----> Downloading and installing nginx
remote: -----> Adding boot script
remote: -----> Copying configs
remote: -----> Restoring node_modules directory from cache
remote: -----> Pruning cached dependencies not specified in package.json
remote:        unbuild bower@1.3.12
remote: -----> Restoring bower_co

[2015-03-13 16:41] tonycoco commented on #70
Node and Nginx get downloaded each time right now. This is how the official Node build pack worked, so I kept with that. I'll look into it and see if they have any updates to this process. Maybe we could cache those. But, that literally take 5/10 seconds. They are prebuilt binaries so they essentially just get unzipped and moved to a folder.

[2015-03-13 16:47] bartocc commented on #70
ok.

and what about bower and all the bower dependencies ?

[2015-03-13 17:18] tonycoco commented on #70
I'll look into it all. Reopening...

[2015-03-13 17:19] tonycoco commented on #70
Bower and it's dependencies are cached already.

[2015-03-18 23:17] jme783 commented on #68
I too am having this issue, and have seen others with similar problems. I can run `ember build` `npm install`, and `bower install` locally without any mention of version dependencies. Is there any other way to solve this?

[2015-03-18 23:22] jme783 commented on #32
Having this issue here myself. Able to run `ember build`, `npm install`, and `bower install` all without any reported conflicts. Here is my stack trace:
[code]

Any ideas?

[2015-03-19 01:01] jme783 commented on #68
For anyone running into this issue, the way to resolve version dependencies is to delete your entire `bower_components` directory first with `rm -rf bower_components`, then re-run `bower install` to install all of your bower dependencies from scratch. This helped me identify incompatible versions in my bower components.

[2015-03-19 01:02] jme783 commented on #32
For anyone running into this issue, the way to resolve version dependencies is to delete your entire `bower_components` directory first with `rm -rf bower_components`, then re-run `bower install` to install all of your bower dependencies from scratch. This helped me identify incompatible versions in my bower components.

[2015-03-19 07:14] tonycoco commented on #68
I'll document this in the readme

[2015-03-19 12:08] nanaewusi commented on #32
Hi, I'm having this issue myself. `ember build` `npm install` and `bower install` all run without any problems errors locally, but I'm having problems deploying to heroku. Here is my stack trace:

    remote: -----> Building Ember CLI application production distribution
    remote:        version: 0.2.0-beta.1
    remote:        Could not find watchman, falling back to NodeWatcher for file system

[2015-03-21 14:04] marvinosswald opened #73 "Build Error: JSParse Error"
Hey guys,
What am I doing wrong ?

[code]

[2015-03-22 04:18] tonycoco commented on #73
Try `ember build` locally

[2015-03-22 17:52] marvinosswald commented on #73
works like charm..

[2015-03-23 01:54] tonycoco commented on #73
Could you make sure by running this from your project root:

    npm cache clean
    bower cache clean
    rm -rf node_modules bower_components dist tmp

And then do a:

    npm install
    bower install
    ember build

Does everything still work?

[2015-03-23 08:52] marvinosswald commented on #73
Jap, still work.. I have an "postinstall": "bower install" in my package.json so I don't need to run a bower install manually shouldn't be a problem, should it ?

[2015-03-23 15:22] tonycoco commented on #73
Might be the problem. Not sure.

[2015-03-23 15:22] tonycoco commented on #73
Could you post your NPM `package.json` and `bower.json`

[2015-03-23 16:59] marvinosswald commented on #73
@tonycoco thanks man for your advice.. removing the postinstall command fixed it. But now It appears my app can't access node, thought it should be there cause obviously it was there for install...

[code]
My best guess, it gets removed after building completed since u originally designed the build pack to work with nginx not a express solution.

[2015-03-24 15:41] tonycoco commented on #73
Yeah, no Express app is used at all. It is essentially just building a static package of files and serving them with a Ngnix server. Not sure why you need the Node app spun up, but that is not what was intended for the buildpack.

[2015-03-24 16:03] marvinosswald commented on #73
Yeah sure but I install it as dep so I should be able to run it with node installed. Basically I'm just trying to put frontend and backend together in my early stage beta phase to save some money.. But thanks anyway :) thats something I can solve by spliting them up again.

[2015-03-24 16:09] tonycoco commented on #73
That would be something you'd have trouble doing on a single Heroku dyno/instance anyway. Might I suggest looking at the `API_URL` pattern we have in the buildpack and building the Node service on a separate Heroku instance? That would work and would keep costs down too. You could also make this work, I think, by running something in the buildpack's after hook. View the `README.md` for more inform

[2015-03-24 16:09] #73 closed

[2015-03-27 17:59] johnhamelink commented on #70
:+1: would be good to see this buildpack running quicker. I think many people who are using heroku for this are using it to quickly prototype while they perhaps plan to use something like ember-cli-deploy later, and for that reason, I think it's especially important to have a nice fast deploy :smile:

[2015-03-28 20:48] boringusername99 opened #74 "undefined is not a function"
I'm having issues when pushing to Heroku. See error log below. This seems similar to the most comment posted here: https://github.com/tonycoco/heroku-buildpack-ember-cli/issues/32

Of note is that when Googling around to solve this issue, some people mention that upgrading ember-cli to 0.2.0 solved the issue. I have ember-cli 0.2.1, but for some reason, the log below says it is trying to build wit

[2015-03-28 22:21] kavinderd commented on #62
Sorry for the late reply, busy with another project. The issue I'm seeing is similar to #66 except in my logs for my ember application I don't even see requests being routed to my backend server.
[code]
I have a route `/courses` that should be routing to `https://my-backend.herokuapp.com/` instead in the logs I see
[code]
And like in #66 's case I have proxied my local ember app to the remote back

[2015-03-30 19:25] tonycoco commented on #74
Please see: https://github.com/tonycoco/heroku-buildpack-ember-cli#troubleshooting

[2015-03-30 20:12] boringusername99 commented on #74
Sorry, *facepalm*

I missed the last step of the troubleshooting (ember build) when I tried it before. Also discovered that I wasn't on the master branch and that I had forgotten to commit a few things. :) *sigh*

I still haven't figured out why my app works in local dev but just pulls up a blank page on heroku production, but at least it's deployed now. :) Feel free to close.

[2015-03-31 04:49] tonycoco commented on #74
:) No prob!

[2015-03-31 04:49] #74 closed

[2015-04-03 13:39] omairvaiyani opened #75 "Deploying after ember-cli upgrade"
Are there protocols to follow after doing an ember-cli upgrade? Because I followed all instructions to upgrade my project locally (from 0.2.1 to 0.2.2) and it works fine - however, when deploying to heroku, even with cache disabled, I get a failed build. Here's the error if it helps:

[code]

[2015-04-09 03:18] tonycoco commented on #75
https://github.com/tonycoco/heroku-buildpack-ember-cli#troubleshooting

[2015-04-09 10:45] omairvaiyani commented on #75
Hi Tony, I did that locally - I don't actually know if those actions somehow need to be taken on the heroku dyno?

[2015-04-09 19:47] tonycoco commented on #75
It looks to me like something with the moment-shim is goofed up. I just updated my test repo and deployed just fine. Could you post your `package.json` and `bower.json`?

[2015-04-09 23:23] omairvaiyani commented on #75
Appreciate your help!

bower.json
[code]
package.json
[code]
I ran the troubleshooting commands just now (locally) and replicated the error locally with ember-cli 0.2.3. Here's the log:

[code]

[2015-04-09 23:41] omairvaiyani commented on #75
Okay so I've fixed it myself by adding ``ember-cli-moment-shim``` to bower, seems like a very obvious fix but I wasn't aware of this repository and for whatever reason, ```moment.js``` needs it now. I'll go ahead and close this issue.

[2015-04-09 23:41] #75 closed

[2015-04-10 02:54] tonycoco commented on #75
Awesome. Let me know if something else blows up :)

[2015-04-17 20:02] brandonhilkert opened #76 "API Url setup"
Can you suggest a good approach for managing an API URL?

I've been testing with the `--proxy` option with ember serve and it works well. I tried to use `API_URL` and read the issues about it not using `/api/`, but the app doesn't even seem like it's directing the model calls to the API. Is this setup expecting the app to set the host in the adapter?

Just need a little guidance, I'm new to this.

[2015-04-29 21:50] tonycoco commented on #76
Let's take an example...

Let's say `http://www.example.com/api/v1/posts/1.json` is the call your Ember CLI application makes. But, you want to proxy that request to another server so as to avoid CORS.

If you're deploying it to Heroku with this buildpack you need to set two things. First, set an API proxy URL:

    $ heroku config:set API_URL=http://api.example.com/

This is the URL to the desire

[2015-04-30 16:06] brandonhilkert commented on #76
Cool thanks for the insight!

[2015-04-30 16:06] #76 closed

[2015-04-30 16:33] tonycoco commented on #76
I'm going to move this into a Wiki page soon :)

[2015-04-30 16:34] tonycoco opened #77 "Create an Ember CLI add-on"

[2015-05-13 18:50] backspace opened #80 "Incompatibility with ember-component-css"
Hey, thanks so much for this buildpack, it’s been very useful to me.

Some of us are [having trouble with `ember-component-css` styles not being applied on Heroku deployments](https://github.com/ebryn/ember-component-css/issues/51). I’ve done some [investigation](https://github.com/ebryn/ember-component-css/issues/51#issuecomment-101773971) and will continue with that, but let me know if you have

[2015-05-14 15:09] tonycoco commented on #80
Have you tried building locally?

[2015-05-14 18:18] backspace commented on #80
Yes, it works when I build locally and run it. I do think it’s probably a problem with the addon, though I don’t understand what it is. So you can close this if you don’t have any other suggestions.

[2015-05-14 19:48] tonycoco commented on #80
Does that add-on rely on a binary?

[2015-05-15 23:22] backspace commented on #80
I don’t think so, unless people are using it in combination with `ember-cli-sass` or another preprocessor. It seems like files are just written to the wrong places, or not merged properly.

I was able to get it working for a project just by adding logging statements to `ember-component-css` at the point where it appends to the Javascript asset file, so it doesn’t seem like a problem with your buil

[2015-05-17 05:18] #80 closed

[2015-05-20 04:14] jrjohnson opened #81 "Build an environment other than production?"
Is there a way to use heroku config variable to build a different environment?  development, heroku, etc...  we're using this mainly to test along with ember-cli-mirage for fixture data.  It's not a problem to setup our production build to include fixture data, but it feels wrong somehow.

[2015-05-20 20:00] chibipirate commented on #61
@tonycoco @dj-hedgehog any updates? I'm seeing this issue:
-----> Installing dependencies
remote: /tmp/buildpacks/custom/bin/compile: line 154:   118 Killed                  npm install --quiet --userconfig $build_dir/.npmrc 2>&1
remote:        119 Done                    | indent
To dokku@domain.com:app
 ! [remote rejected] master -> master (pre-receive hook declined)
error: failed to push some r

[2015-05-20 23:10] tonycoco commented on #61
I don't have dokku, nor do I really want to support it. If you put together a PR with the necessary changes, I'll gladly accept them :)

[2015-05-21 19:20] davidgoli commented on #32
Also seeing this. Deleting bower_components and reinstalling did not reveal any conflicts.

[2015-05-21 19:34] tonycoco commented on #32
Please make sure you follow the steps...

Try [troubleshooting](https://github.com/tonycoco/heroku-buildpack-ember-cli#troubleshooting).
Try [clearing your Heroku cache](https://github.com/tonycoco/heroku-buildpack-ember-cli#caching).

Does your app's build process depend on any external binaries? You may need a build hook then.

[2015-05-21 19:35] #81 closed

[2015-05-31 13:00] acorncom commented on #77
How would you want an addon to work?

[2015-06-03 13:21] harianus opened #83 "How to use force https with CloudFlare and Heroku"
I'm using CloudFlare for https in combination with Heroku. CloudFlare uses a slightly different name for redirect the http scheme; `$http_cf_visitor`. I also found that nginx filled `$http_cf_visitor` with `-` when it was not available. So that is why I test for `$http_cf_visitor ~* 'http'`. Nginx does not support the `and ` operator, so that is why this code is so terrible long.

It works when yo

[2015-06-06 05:04] xtagon commented on #83
@harianus Thanks for sharing the solution, it helped me out. :+1:

[2015-06-06 05:11] xtagon commented on #70
What is the benefit of the build step happening on Heroku's dyno rather than building locally and then pushing the already-built Ember app to Heroku? Is that alternative even possible?

[2015-06-08 15:31] tonycoco commented on #70
The problem with that is there would need to be a something more than just the buildpack. Perhaps an ember-addon. I'll look into it but I'd rather keep this project a simple buildpack and just improve the build times within Heroku itself.

[2015-06-08 15:33] tonycoco commented on #83
Yeah, please PR the `README.md`... I'll merge it once I check it over.

[2015-06-08 17:13] harianus commented on #83
Is this only for the `README.md` or can I add it to the default `nginx.conf.erb`?

[2015-06-08 20:16] tonycoco commented on #83
Oh, then, I'd say let it rip. Let's put it in the `nginx.conf.erb`

[2015-06-08 20:16] tonycoco commented on #83
(*both*)

[2015-06-17 11:37] romanbsd commented on #70
It looks like it re-installs the bower itself each time.

[2015-06-18 16:18] #83 closed

[2015-06-26 16:27] harianus commented on #70
And this takes very long

[code]

[2015-06-29 21:18] natecox commented on #70
The slowest part of deployment for me is frequently 'verifying deploy'. I'm not entirely sure what kind of verification is happening, but every once in a while the verification process takes an extremely long period of time (upwards of half an hour).

[2015-06-29 21:57] tonycoco commented on #70
Verification of deployment is done on the Heroku end... nothing we can do about that part from what I can tell. I'm working on a refactor of this on my spare time and will address the cache from node and ex-bower stuff.

[2015-06-29 21:58] tonycoco commented on #77
https://github.com/ember-cli/ember-cli-deploy -- basically making an adapter for this

[2015-07-11 02:41] rancerbeta opened #86 "Does deploying to heroku still work?"
I tried creating a heroku instance with the deploy with heroku button and got the error:
<img width="672" alt="screen shot 2015-07-10 at 7 40 16 pm" src="https://cloud.githubusercontent.com/assets/1310830/8631973/994e81ca-273b-11e5-91ff-5efc1ad50bc4.png">

[2015-07-11 02:43] rancerbeta commented on #86
Sorry about the spam. I clicked your button, thinking it would deploy my app for some reason.

[2015-07-11 02:43] #86 closed

[2015-07-21 14:19] NathanJang commented on #70
It also appears to be pruning devDependencies before every build.

[2015-07-21 15:30] NathanJang opened #87 "ember not found/devDependencies not installed"
I'm using [Heroku's built-in multi-buildpack function](https://devcenter.heroku.com/articles/using-multiple-buildpacks-for-an-app) because I want to serve a custom express app.

[code]

[code]

[code]
[code]

I've already tried the troubleshooting steps and purging the cache/resetting the repo with [heroku-repo](https://github.com/heroku/heroku-repo). The app builds fine locally.

[2015-07-23 15:23] NathanJang commented on #87
It appears to have been fixed by
[code]
This is in the [node.js buildpack's README](https://github.com/heroku/heroku-buildpack-nodejs#enable-or-disable-devdependencies-installation). I believe that this has nothing to do with the fact that I'm using a multi-step buildpack process, because the node.js buildpack is run after this one anyway.

I think the issue is that including ember-cli in devDepen

[2015-07-28 14:55] byrnedo opened #89 "SSH Key permissions too open"
-----> Exporting config vars to environment
    -----> Detected SSH key for git. launching ssh-agent and loading key
           Agent pid 266
    remote: @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    remote: @         WARNING: UNPROTECTED PRIVATE KEY FILE!          @
    remote: @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    remote: Permissions 0644 for 'id_rsa'

[2015-07-28 15:45] tonycoco commented on #87
The NodeJS and EmberCLI buildpacks are very similar. Lots of confusion might occur when using that multi-buildpacks plugin for Heroku. I'm not sure I've ever done anything like that. The idea behind this buildpack was to only serve the Ember app. Have you thought of serving the Express app on a different app deployment instance of Heroku?

[2015-07-29 16:26] NathanJang commented on #87
I need it on the same instance because of my budget. Correct me if I'm wrong, but wouldn't 2 separate instances charge me twice the amount?

I added the ember buildpack because I need something to actually compile the ember app. The node buildpack only installs things and starts the server process.

[2015-07-29 22:32] #89 closed

[2015-07-29 22:34] tonycoco commented on #87
Yeah, I'm not sure I want to support this type of double serving from the EmberCLI build pack. Yes, it most likely will cost you more, though Heroku's free instances should run this build pack just fine (or, the express server for that matter)... If needed, a PR is more than welcome :)

[2015-08-10 09:03] szymonpk opened #92 "503 for nginx download - https://s3.amazonaws.com/devmynd-github/heroku-nginx-1.6.0.tar.gz"
heroku's nginx package went AWOL. In restult I can't deploy :( Is there alternative location available for this file?

[code]

[code]

[2015-08-10 09:43] szymonpk commented on #92
Looks like it's fixed now, however it wasn't working for an hour or so :/

[2015-08-10 09:43] #92 closed

[2015-08-25 14:37] balinterdi opened #94 "App builds fine locally, fails to deploy ("Unable to find suitable version for ember")"
I followed the steps in the README.md and trying to deploy my Ember CLI app.

Everything goes find with installing the npm dependencies but the deployment fails when it comes to installing the bower ones:

[code]

So basically some package has a constraint of Ember <2 and another one specifies Ember to be 2.0.0. I had actually found two packages that specified the <2 constraint but updated those o

[2015-08-25 14:44] balinterdi commented on #94
For what it's worth, destroying the old app and creating a new one leads to the exact same error.

[2015-08-27 17:29] tonycoco commented on #94
I'll investigate. Mind sending/posting your `package.json`?

[2015-08-27 19:55] balinterdi commented on #94
Thank you for looking into this, Tony. Here is my package.json:

[code]

[2015-08-28 04:36] balinterdi commented on #94
Let me copy my `bower.json` again as deployment fails when resolving the bower dependencies:

[code]

And as I said, nothing seems to define the `>=1.4 <2` dependency anymore so it really seems like a caching issue to me (as the following two libs *did have* the `>=1.4 <2` before I updated them to their latest version):

[code]

[2015-08-28 04:59] balinterdi commented on #94
I have now also tried rebuilding the packages during deployment as described in the docs:

    $ heroku config:set REBUILD_ALL=true
    $ git commit -am 'rebuild' --allow-empty
    $ git push heroku master

But this gave me the same error as before.

[2015-08-31 13:50] balinterdi commented on #94
Hey, Tony, ignore this issue, it was completely my fault. I worked on a branch, and did not specify that branch when pushing to Heroku. So I did `git push heroku master` instead of `git push heroku my-branch:master`. That resulted in the "old" version (the one on master) being deployed which still had the conflicting version number.

Sorry about the false alarm, hopefully you didn't spend too much

[2015-08-31 13:50] #94 closed

[2015-08-31 20:32] tonycoco commented on #94
No problem, glad you got it figured out!

[2015-09-09 04:21] xypaul opened #95 "Slug too big"
I've got a really small ember cli app, but even then the slug is too big for the free plan
[code]
Any suggestions what I could do to work around it?

[2015-09-13 16:35] sbounmy opened #96 "API_URL and HTTPS"
Hi,

I've encountered the following error while using https API_URL
[code]

Not sure if this is more related to nginx conf or openssl conf

[2015-09-17 15:06] tonycoco commented on #96
Probably... I can take a look

[2015-09-17 15:06] tonycoco commented on #95
Hmm, that's odd. Let me try with my test apps and see what's up.

[2015-09-18 17:47] jme783 opened #97 "ENOENT, no such file or directory 'node_modules/ember-cli-ic-ajax/node_modules/'"
I am running into the following deploy error, at the very tail end of the deploy:

[code]

This is clearly an issue with the `ember-cli-ic-ajax` dependency, but I can't seem to figure out why this is blowing up. I have tried upgrading the version of the module from `0.1.1` to 0.1.2` (and higher patch versions), but this does not work, and throws a different build error.

I have flushed Heroku cach

[2015-09-18 18:55] jme783 commented on #97
For anyone else who runs into it, the recent release of the new `npm` caused this build issue. I had to pin `npm` at version `2.14.3` in my `package.json` to avoid this error:

[code]

[2015-09-18 18:55] #97 closed

[2015-09-20 17:19] riderrocks opened #98 "mjk\"

[2015-09-21 07:30] xypaul commented on #95
@tonycoco had any chance to look at it yet?

[2015-09-22 13:58] patrickberkeley commented on #97
@jme783 ran into this too. Your fix worked. Thanks!

[2015-09-22 16:06] tonycoco commented on #95
Both tests did not have that problem. Can you post your `bower.json` and `package.json`?

[2015-09-22 16:07] #98 closed

[2015-09-22 19:30] GabKlein commented on #70
My avg is 6m 50s on each deployment. There are some very long steps as:
- Installing bower which is required by other dependencies
- Installing dependencies

[2015-09-23 13:17] spyou commented on #70
Same here, our avarage deployment time is around 15 minutes. Would love to know what to do to make it faster.

It seems to reinstall everything all the time on each deploy.

[2015-09-23 13:19] GabKlein commented on #70
@spyou Can you try with my branch?
`heroku buildpacks:set https://github.com/GabKlein/heroku-buildpack-ember-cli.git`

Let me know if you have any issue.

[2015-09-23 18:51] tonycoco commented on #70
@GabKlein could you create a PR with those changes if they look good?

[2015-09-23 20:38] GabKlein commented on #70
Hi @tonycoco, there is already a PR out there.
https://github.com/tonycoco/heroku-buildpack-ember-cli/pull/99

[2015-09-23 21:30] tonycoco commented on #70
Closed #99 :beers: Cheers!

[2015-09-23 21:30] #70 closed

[2015-09-23 21:31] #87 closed

[2015-09-23 22:21] GabKlein commented on #70
:+1:

[2015-09-23 23:05] moha297 opened #100 "Repo Should have Release Versions"
A current update on master broke my deploy. I think there should be releases tagged for this repo.

Since it is so widely used, it would provision us to ensure deployments are not broken or we can push a quick fix if needed by tagging the prior revision

[2015-09-24 05:05] spyou commented on #70
@GabKlein the first deploy was much faster (somewhere near a couple of minutes VS 20). But now, I'm trying to deploy again, and I get

[code]

Unfortunately, even reverting to the original buildpack now shows this error :/

[2015-09-24 05:12] spyou commented on #70
@GabKlein for info, setting `heroku config:set REBUILD_ALL=true` seems to do the trick.

[2015-09-24 07:45] spham92 opened #102 "Recent changes seem to break my heroku builds (from Sep 23)"
Hello,

I Used the buildpack Sunday for my productions server and used the latest version today for a staging. Im assuming the latest changes is causing the issue I am encountering when I push new code to my staging. The following error occurs:

----> Removing .DS_Store files
-----> Fetching custom git buildpack... done
-----> Ember CLI app detected
-----> Building environment: production
       P

[2015-09-24 07:46] GabKlein commented on #70
@spyou Thank you for this feedback!
Did you notice any performance improvement?

[2015-09-24 07:48] spyou commented on #70
Clearly yes. Massive improvements.

[2015-09-24 12:43] tompesman commented on #102
Yes, I can confirm this.

[2015-09-24 13:39] danconnell commented on #102
Also experiencing this issue. Clearing the Heroku cache works once, but then on the next deploy it's broken again and I have to clear the cache or every deploy.

[2015-09-24 14:51] tonycoco commented on #100
Great idea. I'll start tagging releases.

[2015-09-24 14:53] tonycoco commented on #102
Running: `heroku config:set REBUILD_ALL=true` is the fix. Will document this. Sorry about the clash here. It happened when we merged in a change to make deploys faster in the future!

/cc @tompesman @danconnell @spham92

[2015-09-24 14:54] tonycoco commented on #102
Once it is rebuild, you can unset that var: `heroku config:unset REBUILD_ALL`

[2015-09-24 14:55] tonycoco commented on #100
See the fix: #102

[2015-09-24 15:03] tonycoco commented on #102
Added the steps to resolve in the `README.md`

[2015-09-24 15:03] #102 closed

[2015-09-24 18:32] alexgb opened #103 "Bower: command not found"
Recently started getting errors during deployment about missing bower command:

[code]

Relevant line from compile script:
https://github.com/tonycoco/heroku-buildpack-ember-cli/blob/master/bin/compile#L186

Possibly related to this change from two days ago https://github.com/tonycoco/heroku-buildpack-ember-cli/commit/3df07aa8b258e5016181ad1522a3d07011046e07 though I can't see anything obviously w

[2015-09-24 19:54] alexgb commented on #103
Fixed using `heroku config:set REBUILD_ALL=true`

[2015-09-24 19:54] #103 closed

[2015-09-25 04:38] moha297 commented on #103
@tonycoco Thanks for the fixes and updates

[2015-09-28 12:50] sbounmy commented on #102
For those having the following error:
[code]

I recommend to purge the cache and reinstall all dependencies:
[code]
Maybe we could add this on top of README aswell :)

[2015-09-28 14:44] drewnichols opened #105 "forced to purge heroku repo cache on every build"
I'm currenting seeing the following error whenever we deploy. It goes away whenever we clear the cache via `heroku repo:purge_cache` or if i set `REBUILD_ALL=true` on the target heroku app. Anyone else seeing this or have any suggestions?

[code]

[2015-09-28 18:18] tonycoco commented on #105
Have you followed the steps atop the `README.md`?

You can also...

[code]

[2015-09-28 18:25] drewnichols commented on #105
yeah, `heroku repo:purge_cache -a APPNAME` clears up the problem for 1 deployment. On the following deploy the problem returns.

[2015-09-28 18:54] tonycoco commented on #105
Weird. Could you post your `bower.json` and `package.json` files? I could be more helpful then :)

[2015-09-28 18:58] drewnichols commented on #105
sure

package.json
[code]
bower.json
[code]

[2015-09-28 19:28] tonycoco commented on #105
Have you tried to update your version on Ember CLI? This is pretty old now...

[code]

[2015-09-28 19:28] tonycoco commented on #105
I think that would fix the issue. It seems like bower isn't included in that build of the Ember CLI itself

[2015-09-28 19:34] drewnichols commented on #105
LOL old indeed. I'll give that a shot.

[2015-09-29 11:22] moha297 commented on #105
I had posted comments in the community of the issue and REBUILD_ALL=true had fixed it for us.

I tried removing the variable to see the performance improvements. The build failed again. I followed the steps added to readme to purge app cache and doing another build with rebuild_all=true. The build was successful.

However, I removed the param from my env vars and it fails again.
My logs look like

[2015-09-29 11:27] moha297 commented on #100
@tonycoco  Could you publish a release at the version before the performance improvements and one after the same. That would be really helpful to keep my production env stable.

[2015-09-29 14:02] rinti commented on #105
I'm also getting
[code]

[2015-09-29 15:12] tonycoco commented on #100
Sure thing... 1 sec.

[2015-09-29 15:19] tonycoco commented on #100
I've tagged pre-performance release as `0.9.0` and post-performance as `1.0.0`

[2015-09-29 15:56] tonycoco commented on #105
For now, I've tagged pre-performance release as `0.9.0` and post-performance as `1.0.0`. You can point your build pack URL at those

[2015-09-29 17:47] moha297 commented on #100
Thanks. Works...

[2015-09-29 17:48] #100 closed

[2015-09-29 19:21] jjhampton commented on #105
Experiencing similar issues as above:
[code]

Ran `heroku repo:purge_cache` and it built successfully after re-deploy.

[2015-09-29 20:22] #95 closed

[2015-09-30 10:34] sbounmy commented on #96
my bad SSL was not properly setup, it works well.
Closing this :beers:

[2015-09-30 10:34] #96 closed

[2015-10-02 14:17] benbabics opened #106 "ember: not found"
This is my first ember-cli project I'm deploying to Heroku and am completely new to the concept of buildpacks, so please forgive me as I'm likely overlooking something. I'll spell out what I'm doing because this may not be related to the buildpack at all; I'd rather be exhaustive and have someone possibly point that out.

I am using the Heroku Pipeline for staging and production environments, and

[2015-10-02 18:06] lardawge commented on #105
I am not clear on what the actual problem or fix is. Deploying is VERY painful and slow. Running on 0.9.0 or 1.0.0 ends with errors until I purge cache. What is the suggested happy path here?

[2015-10-02 19:05] tonycoco commented on #106
Can you make sure your project builds locally?

https://github.com/tonycoco/heroku-buildpack-ember-cli#troubleshooting

[2015-10-02 19:28] benbabics commented on #106
I ran through the troubleshooting section without any hiccups, but the `ember: not found` still persists. Here's the latest log; I believe it's the same:

[code]

[2015-10-02 22:04] benbabics commented on #106
Omg.. I'm a dope. The buildback creates a new Heroku app which is what I need to deploy to. I'm sure others knew this, but I missed it. *derp* :open_mouth:

[2015-10-02 22:04] #106 closed

[2015-10-05 14:27] dnesteryuk commented on #105
We are experiencing the same issue, we can deploy only after purging the cache.

[2015-10-06 10:07] kjarri commented on #105
I having this same issue on a recent Ember project, so I'm using the latest ember-cli and most other components should be of latest version as well.

[2015-10-06 13:43] sbounmy commented on #105
same here can't deploy unless I purge + rebuild all.
I've tried to use buildpack version 0.9.0 but without success...

[2015-10-06 15:10] tonycoco commented on #105
Can you try to...

[code]

And then get on the latest?

[2015-10-06 15:13] sbounmy commented on #105
I meant I've tried on latest it only works with purging + rebuild all.
I gave a try on 0.9.0 but didn't build correctly.
Sorry for being unclear in my last comment.

[2015-10-06 15:16] tonycoco commented on #105
I'm going to try to recreate this tonight and fix it. Sorry about the mess! :)

[2015-10-07 16:08] kjarri commented on #105
I just noticed that my packages.json didn't actually have bower specified, so the purge action in the buildpack seems to have removed bower on each push to heroku.

I've added "bower": "1.5.3" and it seems to do the trick for me.

[2015-10-07 16:58] drewnichols commented on #105
Adding bower to the package.json seems to have fixed the issue for me also

[2015-10-07 18:45] tonycoco commented on #105
Hmm interesting. I'll take a look at ensuring that bower is installed.

[2015-10-08 11:16] dkrathi457 commented on #39
remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Fetching custom git buildpack... failed
remote:
remote:  !     Push rejected, error fetching custom buildpack
remote:
remote: Verifying deploy...
remote:
remote: !	Push rejected to demoos1.
remote:
To https://git.heroku.com/demoos1.git
 ! [remote rejected] master -> master (pre-receive hook declined)
error: f

[2015-10-08 16:57] erichonkanen opened #107 "Not working"
Hello,

I have been using this for quite awhile but this morning I pushed up to my heroku app and was getting new error saying bower command not found (nothing changed in my bower/package.json)

I then found the notes in the README from 10 days ago about purging the cache and tried that to see if it would work. Now when I pushed the app up to heroku it doesn't work and Im not exactly sure what is

[2015-10-08 18:26] allthesignals commented on #107
I started seeing this as well. I usually have to try again and it deploys correctly.

[2015-10-08 18:26] erichonkanen commented on #107
ok yeah I tried again and it worked! phew

[2015-10-08 18:27] allthesignals commented on #107
It's still kind of annoying, might still be worth remaining an open issue. I'm kind of curious why it does this.

[2015-10-12 17:33] erichonkanen commented on #107
ugh its not working again now! this is the original error I get when pushing to my heroku account (that previously has worked for the past 6 months)

[code]

[2015-10-15 06:46] artsmc opened #108 "node-sass causing build to fail"
also found this issue here:
https://github.com/sass/node-sass/issues/13

not sure if its related but I'm seeing the same stuff:
 npm WARN deprecated pangyp@2.3.2: use node-gyp@3+, it does all the things
remote:
remote:        > node-sass@2.1.1 install /tmp/build_b39be4c794f31269d06be6cd1e5721fa/node_modules/ember-cli-sass/node_modules/broccoli-sass-source-maps/node_modules/node-sass
remote:

[2015-10-15 14:40] josepjaume commented on #107
Having this issue as well. Strange. Maybe it's because bower has been updated?

[2015-10-15 16:06] SeyZ opened #109 "bower ENOTDIR error"
Hey @tonycoco, here's my error when deploying your buildpack on Heroku (worked before):

[code]

Any idea of `remote:        bower ENOTDIR       ENOTDIR, not a directory '/tmp/build_37e2b77f1b99707bfca62c125116fd48/bower_components'` means ?

[2015-10-15 16:24] danconnell commented on #109
I get the same error. Isn't resolved by purging the cache and using rebuild_all

[2015-10-15 16:36] danconnell commented on #109
I don't understand what broke since it was working less than an hour ago and now it's not.

If anyone has a workaround, I'd appreciate it.

[2015-10-15 16:57] lucascampbell commented on #109
broken for me as well.

[2015-10-15 17:34] alexgb commented on #109
Yep, we're also experiencing the same issue starting today

[2015-10-15 17:39] aleontiev commented on #109
Broken here, REBUILD_ALL does not work, destroying and recreating the app does not work :(

Blocking a release for us today

[2015-10-15 18:14] aleontiev commented on #109
Seems to be caused by `bower@1.6.2` -- forking this buildpack and forcing an install of the last known good version (`bower@1.5.3`) did the trick for us.

[2015-10-15 18:36] aleontiev commented on #109
See this PR: https://github.com/AltSchool/heroku-buildpack-ember-cli/pull/1/files

Would be nice if this buildpack could support a way to force a specific version of bower.

[2015-10-15 18:53] tonycoco commented on #109
Could you PR that over to this repo, @aleontiev?

[2015-10-15 18:54] tonycoco commented on #109
Never mind, @aleontiev. Got merged with #110

[2015-10-15 18:55] tonycoco commented on #108
I'll look into this. I just deployed using node-sass and didn't see this issue

[2015-10-15 18:55] tonycoco commented on #107
Bower locked to 1.5.3 from #110 ...closing for now

[2015-10-15 18:55] #107 closed

[2015-10-15 18:57] tonycoco commented on #105
Bower now gets locked to 1.5.3 in the install. Should fix this.

[2015-10-15 18:57] #105 closed

[2015-10-15 18:57] tonycoco commented on #105
See: #110

[2015-10-15 18:58] #109 closed

[2015-10-15 20:11] artsmc commented on #108
I will look into it as well, this is my package.json if it makes a difference, let me know if you see something off.
[code]

[2015-10-16 16:48] tonycoco commented on #108
Can you try to update to the latest `ember-cli-sass`? I have...

`"ember-cli-sass": "^4.2.0"`

[2015-10-17 01:06] artsmc commented on #108
Looks like that did the trick! thanks

[2015-10-17 01:06] #108 closed

[2015-10-18 21:07] mikekellyio commented on #36
I'm running into heroku failing to build this on ``cedar-14`` as well. Below is my stack trace:

[code]

[code]

[2015-10-19 07:42] erichonkanen commented on #62
+1 I have 2 heroku setups each with a backend app and client app... one of them I created almost a year ago and it works, the 2nd one I created tonight and using same set up but the proxy isnt going through for some reason

[2015-10-19 08:05] erichonkanen opened #111 "Proxy using API_URL not working"
Hello,

I just created a new heroku client app and heroku backend django app in the exact same configuration as another deployment that works...

I set the `API_URL` value to that of my api however it is not making requests to my api. In my api logs I don't see anything and on the client it's showing 404...

Any ideas?

[code]

[2015-10-19 19:43] erichonkanen commented on #62
I got proxy working by adding a Procfile with:

`web: ember serve --port $PORT --live-reload=false --proxy http://craft-backend-production.herokuapp.com`

[2015-10-19 20:09] tonycoco commented on #62
@erichonkanen this is not recommended, since now you are basically running a node server for a static site and bypassing the nginx setup completely.

[2015-10-19 20:09] #62 closed

[2015-10-19 20:09] tonycoco commented on #111
On your client app, where are requests to that API coming from? That should dictate the `API_PREFIX_PATH`

[2015-10-19 20:39] erichonkanen commented on #111
@tonycoco my django api serves at `/api/v1` any in my ember config/environment.js I have:

[code]

and in app/adapters/application.coffee
[code]

what do you suggest I set it to?

[2015-10-19 23:07] erichonkanen commented on #111
@tonycoco this is my current heroku config and it's not working (you can view site at http://www.craft710.com and open console while loading the page and notice 404 xhr request to /api/v1/partners)

[code]

[2015-10-20 03:09] tonycoco commented on #111
@erichonkanen ahh, that explains it... the build pack's nginx config actually strips off the `/api/v1/` from the subsequent requests to the "backend". Try this...

[code]

In the Heroku config.

[2015-10-20 04:43] erichonkanen commented on #111
@tonycoco ok should I unset the `API_PREFIX_PATH`? I unset it (made it blank) and set the API_URL as you said above but still no luck... :/

[2015-10-20 04:49] erichonkanen commented on #111
this was command I ran just for sanity check `heroku config:set API_PREFIX_PATH=http://craft-backend-production.herokuapp.com/api/v1/ -a craft-frontend-production`

[2015-10-20 04:51] erichonkanen commented on #111
I'm actually seeing this and it is confusing me... is this normal for the `ember server` to be running? I thought the buildpack was using nginx to serve?

[code]

[2015-10-20 04:57] erichonkanen commented on #111
ugh that might have been my clue! w-t-f it looks like the buildpack wasnt set on this branch somehow! hoping that is the issue

[2015-10-20 05:12] erichonkanen commented on #111
that was it! wow and it fixed my other issues with slow speed lol.. thanks for the help...

[2015-10-20 05:12] #111 closed

[2015-10-21 10:28] misterwise opened #112 "Deploy to Heroku button not working"
Fails under the Build App section of deployment
-----> Fetching custom git buildpack... done
 !     Push rejected, no Cedar-supported app detected
HINT: This occurs when Heroku cannot detect the buildpack
      to use for this application automatically.
See https://devcenter.heroku.com/articles/buildpacks

[2015-10-21 15:05] sbounmy commented on #105
@tonycoco do we need to have bower in ```package.json``` ?
Because I just encountered this error by removing ```REBUILD_ALL```
[code]

[2015-10-23 17:38] derekdowling commented on #112
Yup, seeing this as well.

[2015-11-01 00:18] jgadbois opened #113 "Bower not found error"
When I push my app I get:

[code]

Higher up in the logs it says:

[code]

It works if I rebuild everything.  Any ideas?

[2015-11-02 19:34] mattmcginnis opened #114 "API_URL proxy not being used"
I have API_URL set to: https://myapp.herokuapp.com/ which is a rails backend.
API_PREFIX_PATH is not set.

I successfully deploy the ember-cli app, but when it tries to call the backend, I get a 405.

Here is the log from the ember-cli heroku app.

2015-11-02T19:31:11.910151+00:00 heroku[router]: at=info method=POST path="/users" host=www.mydomain.com request_id=6d1121ba-f19a-4fd7-a533-ca6c990680a

[2015-11-02 20:22] mattmcginnis commented on #114
I tried adding an "api" scope to my routes in rails and setting the API_PREFIX_PATH to /api/ but that did not work.  I also tried adding /api/ to the end of the API_URL and unsetting the API_PREFIX_PATH but that did not work either.

[2015-11-02 23:36] mattmcginnis commented on #62
@tonycoco , if  @erichonkanen 's solution isn't ideal, what is?  This issue still exists and I'm running into it as well. ( https://github.com/tonycoco/heroku-buildpack-ember-cli/issues/114 )@kavinderd , did you find a solution?

What I noticed is that the code below assumes your API_PREFIX_PATH to be /api/

[code]

My API server does not use a prefix path and setting the prefix path to "" or "/"

[2015-11-03 01:07] erichonkanen commented on #62
@mattmcginnis I ended up digging into the logs to discover that I had somehow not installed this buildpack when I thought it had installed.. installing it solved the issue :)

[2015-11-03 21:24] danconnell commented on #97
https://github.com/rwjblue/ember-cli-ic-ajax/issues/6

[2015-11-04 08:07] josepjaume commented on #113
Happening to me as well for the last few weeks.

[2015-11-04 22:40] erichonkanen commented on #97
+1 @jme783 thank you! phew

[2015-11-06 19:24] igorrKurr opened #115 "Failed to detect set buildpack"
Hi!
I have problem with using this buildpack. It seems like heroku can't fetch ot for some reason.
Here what i did:
[code]
My heroku toolbelt version command shows next:
[code]

[2015-11-06 23:31] lucascampbell commented on #115
+1

[2015-11-06 23:45] superchris commented on #115
+1

[2015-11-07 00:06] lucascampbell commented on #115
usually running  heroku repo:purge_cache -a APPNAME fixes this issue.  doesn't seem to help today

[2015-11-07 00:37] lucascampbell commented on #115
working now.

[2015-11-09 14:23] SeyZ commented on #113
+1 same problem. I needed to add the `REBUILD_ALL=true` to fix it.

[2015-11-12 01:03] #114 closed

[2015-11-14 06:06] drdispatch commented on #113
Same here!

[2015-11-14 09:24] robinboening opened #116 "API proxy not working"
Hey there,

first things first: thanks for providing this buildback! :)

I have a rails service deployed on heroku which serves an api for my separate ember app, also running on heroku.

Locally I start the ember app using `--proxy localhost:3000` to connect to the api. I noticed setting the `API_URL` on heroku should do almost the same, right? https://github.com/tonycoco/heroku-buildpack-ember-cl

[2015-11-17 22:44] #115 closed

[2015-11-18 05:34] seawatts commented on #113
Same here :+1:

[2015-11-18 17:25] tonycoco commented on #116
You should basically have the API requests passthrough to your actual backend like so...

Client makes a request to `/api/some_resources/1.json` and then the buildpack takes care of routing the local request to something like `http://API_URL/some_resources/1.json`

[2015-11-18 20:00] bdmac commented on #113
Kinda makes the REBUILD_ALL flag a bit confusing as every time I deploy I have to set that flag so far.

[2015-11-18 20:01] jgadbois commented on #113
Does anyone know if this repo is still being maintained?

[2015-11-18 22:07] seawatts commented on #113
`REBUILD_ALL=true` fixed it for me.

[2015-11-18 22:07] seawatts commented on #113
@jgadbois no idea...

[2015-11-19 15:49] tonycoco commented on #113
@jgadbois I'm still working on it. Unfortunately, I started a new job and haven't been using Ember at all. Thus, cutting down my tinkering time on it. But, I have a local branch to clean up the codebase and work on a v2 of this buildpack. I'll be pushing it out as soon as I finish it, but until then, pull requests are welcome to fix any and all issues here.

Thanks!

[2015-11-19 15:50] tonycoco commented on #113
Another solution is to add in `bower` to the `package.json` for the NPM install, right?

[2015-11-19 19:20] dahoo commented on #115
I have the same error. `heroku repo:purge_cache -a APPNAME` fails with
[code]

Any idea?

[2015-11-19 20:25] jclem opened #117 "FORCE_SSL bypassed with "CF-Visitor" on Heroku"
On Heroku, passing any value that matches the expression `/http/` in the "CF-Visitor" header bypasses SSL enforcement. This could be mitigated by setting and checking for the provider or forwarded protocol header in an environment variable.

[2015-11-20 14:13] jgadbois commented on #113
Thanks for the update @tonycoco !  I'll try adding bower to the package.json that's a good idea.

[2015-11-20 19:11] tonycoco commented on #115
Could you paste the entire output log? Have you set `heroku buildpacks:set https://github.com/tonycoco/heroku-buildpack-ember-cli`? And have you then run `heroku repo:purge_cache -a APPNAME`

[2015-11-20 19:12] tonycoco commented on #117
Got a PR to fix the issue, @jclem?

[2015-11-20 20:47] jclem commented on #117
Not yet, as there's a design discussion to be had here, I think. Specifying the header seems tricky as the template compiler would have to convert `CF-Visitor` to `cf_visitor`, for example. We could ask that it be passed in the format `cf_visitor` or `x_forwarded_proto`, I guess.

Another option is to accept a `PLATFORM` variable, or `TRUST_FORWARDED_PROTOCOL_FROM` variable. I'm not sure what the

[2015-11-21 13:10] dahoo commented on #115
Yes, here's what I did:
[code]

[2015-11-23 15:54] tonycoco commented on #112
Hmm, ok I'll look into this

[2015-11-23 15:55] tonycoco commented on #115
I'll have to try to reproduce this

[2015-11-25 20:22] jgadbois commented on #113
FYI adding `bower` to `package.json` didn't fix the problem for me.

[2015-11-26 07:23] josepjaume commented on #113
It fixed it for me using specifically the `1.5.3` version (not higher ones).

[2015-11-30 14:41] jgadbois commented on #113
@josepjaume did you rebuild from scratch with bower in the `package.json` for the first run?

[2015-12-13 22:05] dahoo commented on #115
It works now for some reason...

[2015-12-14 00:20] tdubb commented on #115
I just ran into the same issue:

<img width="567" alt="screen shot 2015-12-13 at 6 16 11 pm" src="https://cloud.githubusercontent.com/assets/3487685/11770530/e60e2380-a1c5-11e5-9c88-5cd0f0a7db5f.png">

[2015-12-15 14:43] jordpo opened #118 "REBUILD_ALL needs to be present"
We're running into an issue where our Heroku deploy fails every time if the REBUILD_ALL is not set to true. Here is the failed deploy logs

[code]

[2015-12-16 00:52] acwright commented on #116
I am also experiencing this problem. I set the API_URL config variable and my deployed app does not use this when making backend requests. It appears requests are not being properly routed. Any update on this issue?

[2015-12-26 21:51] gonvaled opened #119 "Failure installing npm dependency specified with full URL"
I have created an ember-cli heroku instance:

[code]

And deployed to it:

[code]

But it fails:
[code]

How can the npm package be installed?

[2016-01-02 20:10] ryudice commented on #103
@alexgb Thanks for posting the fix, just encountered this issue.

[2016-01-06 19:28] a17levine commented on #119
Mine is failing with this, seems like it might be related?

[code]

[2016-01-09 03:10] dbinetti opened #120 "configuration access using EMBER_ENV"
I'm trying to set specific configs according to the environment using this buildpack, but am not clear how to access it.  I'm trying the 2.2 method of 'window.AppName.VAR_NAME but that doesn't work.  In fact, from the console none of the config seems to be showing up (although I'm a serious n00b and I'm sure i'm doing something wrong.)  what is the standard pattern I should be using?

thanks -- an

[2016-01-09 10:24] dbinetti commented on #120
My problem turned out to be totally unrelated to your repo; apologies for the bother.

[2016-01-09 10:24] #120 closed

[2016-01-17 00:29] ericmwalsh opened #121 "Push rejected, failed to compile Ember CLI app"
I've tried all the suggestions on the README.md file for my own system (I purged my local NPM / Bower packages, clean reinstall, rebuild - no changes locally) as well as for my Heroku repo (enabled REBUILD_ALL and cleared the cache via the purge plugin) however I am unable to deploy my app to Heroku.  My app works fine locally and builds/serves without an issue.

Here is the build log from Heroku:

[2016-01-17 03:36] ericmwalsh commented on #121
After around 2 hours of adding one piece at a time and deploying to Heroku I am still unable to determine the issue however I have isolated it to deploying from my personal git...  Deploying from Github to Heroku causes no errors.  Not sure if this is a personal issue or even how to solve this.

[2016-01-21 14:14] davidjrice commented on #116
I'm also seeing this. nginx is returning a **405** http code.

[code]

API_URL is set in configuration

[code]

and deployment, buildpack is detected (no errors/warnings in deployment logs)

[code]

and finally, I've tried the recommendations on REBUILD_ALL and purging the repo cache. No joy.

[2016-01-22 01:21] wcurtis opened #122 "Add support for Ember FastBoot"
Ember [FastBoot](https://github.com/tildeio/ember-cli-fastboot) is still super beta, but wanted to get the conversation started about what it might take to add FastBoot support to this buildpack. Has anyone played around with FastBoot on Heroku? [Beanstalk](https://github.com/tomdale/ember-fastboot-elastic-beanstalk) seems like the go-to deploy method right now.

Figured it's worth a convo after t

[2016-01-28 19:11] kenglxn commented on #121
This looks exactly like the error I was getting before the fix in #123

[2016-01-28 20:41] tonycoco commented on #121
Fixed with PR #123

[2016-01-28 20:41] #121 closed

[2016-01-28 20:42] tonycoco commented on #122
Sounds like a good idea to me. Anyone want to investigate?

[2016-01-28 20:45] tonycoco commented on #118
Maybe fixed with #123... please verify.

[2016-01-28 20:47] wcurtis commented on #122
I likely won't get a chance for another few months - but if no-one's on it by then I'll definitely post progress.

[2016-02-06 20:31] olivierlesnicki commented on #112
same here

[2016-02-08 09:54] kenglxn commented on #113
May be related to/affected by #123

[2016-02-12 18:13] ronaldho commented on #97
+1 thank you @jme783
spent several hours trying to figure out why a push to heroku was failing and this did it :D

[2016-02-12 18:24] jme783 commented on #97
Nice! Glad you guys were able to fix it

[2016-02-15 04:41] ajainvivek opened #124 "Error: `libsass` bindings not found. Try reinstalling `node-sass`?"
I am stuck with this issue. How can I resolve `libsass` bindings ?

[2016-02-24 03:59] #124 closed

[2016-03-02 16:53] jagthedrummer opened #125 "Private NPM packages don't work"
I followed the instructions for using private NPM packages with heroku from the main NPM website: https://docs.npmjs.com/private-modules/ci-server-config#setting-up-environment-variables

When I push the build fails with the following error:

[code]

[2016-03-02 17:38] jagthedrummer commented on #125
Oops, my bad. I hadn't setup the `.npmrc` file. I had thought that just setting the ENV var was enough.

[2016-03-02 17:38] #125 closed

[2016-03-10 19:50] erichonkanen opened #126 "Set custom path in ember app that points to admin site on another heroku instance"
Hello,

How could I do e.g. http://myapp.com/admin/ -> http://\<my-backend-herokuapp\>.com/admin/

Do I need to add a custom nginx file in config/ and then set a custom location for /admin/ ?

Thanks!

[2016-03-10 23:28] tonycoco commented on #126
Yep, that would probably work if you set up a custom nginx config

[2016-03-10 23:28] #126 closed

[2016-03-17 06:23] uttamraj143 commented on #115
@dahoo : I tried your commands I am still getting the same issue.

[2016-03-28 17:41] makmanalp commented on #103
I just encountered this issue. Maybe we should reopen this. Is doing `heroku config:set REBUILD_ALL=true` really a fix? It seems more like a workaround. We don't want all the packages to be reinstalled every build, right?

[2016-04-07 12:42] HerveSeger opened #129 "Build failing when using git+ssh - passphrase required"
Hi.

I have a private repo in Github that is referenced in my `package.json` file like this:
`"ember-mx": "git+ssh://git@github.com:medavie/ember-mx.git#master"`

I have created a key with an empty passphrase using `ssh-keygen` (no passphrase?).

I can run `npm install` on Windows without any problem but on Heroku it fails.

The problem is that the passphrase is expected when the script runs:

[co

[2016-06-16 15:46] #113 closed

[2016-06-16 15:46] #116 closed

[2016-06-16 15:46] #119 closed

[2016-06-17 20:13] danconnell opened #131 "Use different nginx binary?"
I need to use nginx with perl or lua to perform a custom redirect (redirect URLs with uppercase to lowercase), so I need to swap out the nginx binary for a different one.

I've tried building my own nginx binary and uploading it and using that, but I don't think one compiled on OSX is going to work on Heroku since I keep getting parsing errors on a nginx.conf I can run locally.

What's the best wa

[2016-06-20 15:35] soynog commented on #121
I'm getting this issue as well, and I'm not clear on how to use #123 to solve it. Any help you could give would be greatly appreciated!

My Heroku Build Log:

[code]

[2016-06-20 19:52] tonycoco commented on #131
You can look into: https://github.com/tonycoco/heroku-buildpack-ember-cli/blob/master/bin/compile for how to get a binary compiled.

[2016-06-20 19:52] #131 closed

[2016-06-20 19:53] tonycoco commented on #129
I haven't ever used this feature myself. Someone else implemented it. Maybe they could chime in? /cc @jzempel

[2016-06-20 19:55] danconnell commented on #131
Yes, I was looking there, and I tried using my own binary, but it didn't seem to run on Heroku. I was asking more if you know how the existing binary that is being used was compiled?

Ideally I can replicate that and just add in perl or lua.

[2016-06-20 19:55] #118 closed

[2016-06-20 19:55] tonycoco commented on #112
Still an issue?

[2016-06-20 19:57] tonycoco commented on #131
Ahh. I remember I used: https://github.com/ryandotsmith/nginx-buildpack/blob/master/scripts/build_nginx.sh

[2016-06-20 20:07] danconnell commented on #131
Thanks!

[2016-06-21 01:29] jordpo commented on #118
@tonycoco yeah this is fixed. we created a new project and didn't run into this issue.

[2016-06-21 11:20] misterwise commented on #112
Yes, it seems to be: just clicked it again and got:
-----> Fetching set buildpack https://github.com/tonycoco/heroku-buildpack-ember-cli.git... done
 !     Push rejected, failed to detect set buildpack https://github.com/tonycoco/heroku-buildpack-ember-cli.git
More info: https://devcenter.heroku.com/articles/buildpacks#detection-failure

To be fair though, I had given up trying to use this long ag

[2016-07-04 19:00] nahtnam commented on #122
Any update? Would love to see this happen!

[2016-07-10 22:53] felixbuenemann commented on #129
@HerveSeger You could use `ssh-keygen -p -f your-private-key` to remove the password, just press enter when asked for the new password to remove it.

[2016-07-21 13:51] danconnell opened #134 "Using Openresty instead of Nginx"
This isn't a bug, I just wanted to document this here in case anyone else is curious about how to do this.

Basically, I needed to get Nginx with Lua running with this buildpack so I decided to use Openresty.

To build Openresty for Heroku:
1. Find out what the latest versions of PCRE and Openresty are - for this documentation, it's PCRE v8.39 and Openresty v1.9.15.1
2. Create a test Heroku machin

[2016-07-21 13:52] #134 closed

[2016-07-21 16:20] tonycoco commented on #134
Whoa, very cool. Thanks for sharing!

[2016-08-02 14:57] Dhaulagiri commented on #122
@nahtnam fwiw there is another buildpack that provides this functionality out of the box [here](https://github.com/heroku/heroku-buildpack-emberjs)

[2016-08-17 17:43] vladucu commented on #129
@HerveSeger did you ever get this working? running into the same thing though there's no passphrase set

[2016-08-17 19:04] HerveSeger commented on #129
@felixbuenemann
Sorry for my late answer.

If I remember correctly I never setup a password (similar to what @vladucu did) but the passphrase was still required when building. So I was stuck.

Anyway I think that building locally and deploying the /dist folder as a static website is the best solution.
I have had the chance to test this solution on a private cloud and it is simpler.

[2016-08-19 19:53] felixbuenemann commented on #129
The following should work to add the ssh key when it always asks for passphrase:

[code]

This also never writes the key out to a file, which is better for security.

[2016-09-02 20:57] nicolo opened #135 "NGINX with Perl Module"
Is there a way to enable the perl module through this build pack?

I need it to lowercase uris in the nginx config by including
perl_modules perl/lib;

[2016-09-02 21:15] danconnell commented on #135
I needed to do the same thing so I used Lua to accomplish it. You can see how I did that by using OpenResty here: https://github.com/tonycoco/heroku-buildpack-ember-cli/issues/134

[2016-09-03 18:09] nicolo commented on #135
Thanks! I was able to get it to work.

[2016-09-03 18:09] #135 closed

[2016-09-04 01:54] johnunclesam commented on #112
Same error here.

[2016-09-04 11:07] johnunclesam opened #136 "Run `bower install` to install missing dependencies."
I'm on a new heroku app and with a new ember-cli app.

After deploy `heroku logs -t` tell me this:

[code]

It seems to skip at all the building of bower dependencies. It install only che npm dependencies. Why?

[2016-09-04 12:59] #136 closed

[2016-09-08 02:21] rwwagner90 commented on #122
Has anyone taken a stab at this? I'm having issues with the official heroku buildpack and would love to give this one a try, but I need Fastboot.

[2016-09-08 17:53] sebyx07 opened #137 "baseUrl not respected from ember environment"
The assets are loaded from /assets instead of the baseUrl + /assets.
If baseUrl is prepended, it returns 404

[2016-09-22 14:01] afgallo opened #138 "Build fails even after setting REBUILD_ALL"
Any ideas?

[2016-09-22 16:49] afgallo commented on #138
Fixed! Sorry, I'd missed the following step in the instructions:

[2016-09-22 16:49] #138 closed

[2016-09-29 12:07] rwwagner90 commented on #122
@tonycoco @wcurtis have either of you guys dug into this at all? Would really love to see this happen! I would be glad to attempt to help out, but don't know much about buildpacks.

[2016-10-19 19:53] steveklabnik opened #139 "Thoughts on supporting yarn as well as npm?"
I'm looking to move my projects to yarn. Is there any opposition to adding support for it in this buildpack? I'm willing to send a PR, but wanted to know if it's likely to be accepted or not.

[2016-11-01 22:55] johnunclesam commented on #122
+1

[2016-11-03 20:44] jholt1 opened #141 "Deprecation"
Thanks for you amazing build pack! I was wondering what is the reason for the deprecation. Is it that you are no longer supporting it, it is missing key features or because heroku is making theirs?

I ask this because heroku still state that their build pack is experimental.

[2016-11-09 03:40] tonycoco commented on #141
I just want to follow the community into the Heroku official build pack. I'll probably continue to patch this buildpack when needed.

[2016-11-09 03:40] #141 closed

[2016-11-09 03:53] tonycoco commented on #139
Yes, for sure! Send the PR along and I'll merge asap.

[2016-11-09 03:54] tonycoco commented on #139
Also, check out the official Heroku buildpack here: https://github.com/heroku/heroku-buildpack-emberjs – I've since deprecated this build pack in favor of it.

[2016-11-09 04:59] steveklabnik commented on #139
Great!

I did see that you did that, but it seems that that one is also experimental, and we've been using this one in production for a while, so I'm still okay with this for now. No worries though!

[2016-11-23 12:28] kriskhaira commented on #97
@jme783 Any idea how to get your fix to work with Yarn?

[2017-01-31 23:52] hugoruscitti opened #143 "How to set the app directory?"
Hi!, i use this buildpack succesfully with some ember apps, but today i want to use in a diferent stage: i have a repo with two main directories "frontend" and "backend". The ember app was copy on the 'frontend' directory, but when a want to deploy to dokku i don't find any way to indicate to dokku that some command like "cd frontend" is needed to deploy correctly.

I think i need to set some hook

[2017-02-14 22:08] anpenava commented on #136
did you find answer I have similar problem :/

`> lunchlist@0.0.0 test /home/ubuntu/lunchlist

Missing bower packages:
Package: ember
  * Specified: ~2.10.0
  * Installed: (not installed)

Package: ember-cli-shims
  * Specified: 0.1.3
  * Installed: (not installed)

Package: firebase
  * Specified: ^3.0.0
  * Installed: (not installed)

Package: moment
  * Specified: ^2.17.1
  * Installed: (not in

[2017-02-22 12:26] regsii commented on #121
This can help https://devcenter.heroku.com/articles/nodejs-support#specifying-a-node-js-version

[2017-02-24 17:43] rathboma opened #144 "Rebuilding dependencies causes a build error"
Hey,

I'm seeing line 138 of the compile script cause an error when I build a particularly large project, it's this line:

[code]

The error I get is from sed:

[code]

I guess because it is installing a lot of dependencies?

Funnily enough, I only get this error when building through my CI system, not when I push to Heroku manually.

[2017-04-13 17:51] mikepschneider commented on #144
I've also encountered this error.  Did you find a solution?

[2017-05-19 04:56] #139 closed

[2017-06-30 16:02] rathboma commented on #144
I think Heroku pushed a fix for this on their end.

[2017-07-07 16:01] tonycoco commented on #143
Best way would be to deploy them to two different Heroku apps.

[2017-07-07 16:01] #143 closed

[2017-07-07 16:01] #129 closed

[2017-07-18 20:50] tonycoco commented on #144
@rathboma is this still a problem?

[2018-05-04 12:28] stephanebruckert opened #147 "Should I fork this repo or add my nginx config in my Ember app?"
I'm using this buildpack and now I need to do some extra redirections. I would need to customize the [nginx config](https://github.com/tonycoco/heroku-buildpack-ember-cli/tree/master/config).

I'm wondering what's recommended?
 - fork this buildpack and add my own nginx config in https://github.com/tonycoco/heroku-buildpack-ember-cli/tree/master/config/nginx.d,
 - add my own config inside my owner

[2018-05-04 12:32] stephanebruckert commented on #147
Just found my answer in the README https://github.com/tonycoco/heroku-buildpack-ember-cli#custom-nginx-config

[2018-05-04 12:32] #147 closed, assigned to nobody

[2018-05-07 09:04] bartocc commented on #144
I just encountered it

[2018-10-24 04:34] rupsk1607 commented on #136
I'am also facing the same problem.